# Git Ignore Syntax
# https://git-scm.com/docs/gitignore


# Always ignore
.DS_Store
.vagrant/



# Project Specific ignores 
private_software/
archive/
research.md
todo.md
sailpoint/
endpoints/
common/